<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<div class="container">
			<h5 class="my-3 border-bottom pb-2">질문 등록</h5>
			
			<!-- method="post"는 postMapping로 받겠다는 소리. -->
			<!-- object 를 지정해줘야 객체로 불러올 수 있다. -->
			<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
			
				<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			
				<div class="mb-3">
					<!-- lable 레이블은 그냥 글씨를 보여주는데 사용 -->
					<!-- name은 백엔드 // id는 프론트 에서 사용 -->
					<!-- lable의 for은 해당 id값을 포커싱해줌 -->
					<label for="subject" class="form-label">제목</label>
					<!-- 에러 발생시 넣어 줬던 값을 그대로 유지 하려면 *{} 부분이다.  -->
					<input type="text" th:field="*{subject}" name="subject" id="subject" class="form-control">
				</div>
				
				<div class="mb-3">
					<label for="content" class="form-label">내용</label>
					<textarea rows="10" th:field="*{content}" name="content" id="content" class="form-control"></textarea>
				</div>
				
				<input type="submit" value="저장하기" class="btn btn-primary my-2">
			</form>
		</div>
	</div>
</html>